.App {
  flex-grow: 1;
  // padding: 10px;
}

.App-bar {
  margin-bottom: 15px;
  padding: 20px;
  flex-direction: row;
  align-items: center;
}

.Tool-bar {
  width: 100%;
  justify-content: center;
}

.Header-button {
  position: absolute;
  right: 30px;
}

.Bottom-app-bar {
  padding: 20px;
  background: rgb(57, 68, 104);
  color:#b2b3f1;
  text-align: center;
  // vertical-align: center;
}

.Menu-item-container {
  width: auto;
  padding-right: 10px;
  padding-left: 10px;
}

.Menu-item {
  background-color:#b2b3f1;
  color:#14262b;
}

.Menu-container {
  padding: 10px;
  align-items: 'center';
  justify-content: 'center';
  padding-left: 4px;
  padding-right: 4px;
}

@media (min-width:960px) {
  .Menu-item-container {
    padding-left: 0px;
  }
  .Menu-container {
    padding-left: 0px;
    padding-top: 0px;
  }
} 

@media (max-width:960px) { 
  .App-bar {
    margin-bottom: 0px;
  }
} 